{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% block cart %}
  <div class="popup center">
    <div class="icon">
      <i class="fa fa-check" ></i>
    </div>
    <div class="message-title">
      success!
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, magnam debitis. Ipsum quisquam ut repudiandae facilis nesciunt, excepturi reprehenderit quis, aliquam sint beatae debitis velit at fuga dolorem! Voluptas, reiciendis.
    </div>
    <div class="dismiss-button">
      <button id='dismiss-popup-btn'>Dismiss</button>
    </div>
  </div>
  <div class="center">
    <button id= 'open-popup-btn'>Open popup</button>
  </div>
{% endblock %}
