{% extends 'partials/base.html' %}
{% load static %}


{% block SearchProduct %}
<div class="section">
    <!-- container -->
    <div class="container">
          <!-- store products -->
          <div class="row">
            <!-- product -->

            {% if categories_with_products %}
              {% for product in categories_with_products %}
                  <div class="col-md-4 col-xs-6">
                    <div class="product">
                      <div class="product-img">
                        <img src="{{ product.prod_image.url }}" alt="{{ product.title }}" />
                        <div class="product-label">
                          <span class="new">{{ product.title }}</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <p class="product-category">{{ product.category.name }}</p>
                        <h3 class="product-name"><a href="{% url 'coreapp:product-detials' product.pid %}">{{ product.title }}</a></h3>
                        <h4 class="product-price">
                          Rs. {{ product.price }} <del class="product-old-price">Rs.
                            {{ product.old_price }}</del>
                        </h4>
                        <div class="product-rating">
                          {% comment %} <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i> {% endcomment %}
                        </div>
                        <div class="product-btns">
                          <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                          {% comment %} <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> {% endcomment %}
                          <button class="quick-view"><a href="{% url 'coreapp:product-detials' product.pid %}"><i class="fa fa-eye"></i></a><span class="tooltipp">quick view</span></button>                        </div>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% endif %}
            <!-- /product -->
          </div>
          <!-- /store products -->

          <!-- store bottom filter -->
          <div class="store-filter clearfix">
            <span class="store-qty">
                Showing {{ categories_with_products.start_index }}-{{ categories_with_products.end_index }} of {{ categories_with_products.paginator.count }} products
            </span>
            <ul class="store-pagination">
                {% if categories_with_products.has_previous %}
                <li>
                    <a href="?page=1"><i class="fa fa-angle-left"></i></a>
                </li>
                {% endif %}
                
                {% for page_num in categories_with_products.paginator.page_range %}
                <li {% if categories_with_products.number == page_num %}class="active"{% endif %}>
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
                
                {% if categories_with_products.has_next %}
                <li>
                    <a href="?page={{ categories_with_products.paginator.num_pages }}"><i class="fa fa-angle-right"></i></a>
                </li>
                {% endif %}
          </div>
          <!-- /store bottom filter -->
        </div>
        <!-- /STORE -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
    
{% endblock SearchProduct %}


    