{% extends 'partials/base.html' %}
{% load static %}
{% block changepassword %}
<div class="Profile-tag">
    <h2 class="Profile-h2">Profile</h2>
</div>
<div class="profile-container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="about">
                        <h5>About</h5>
                        <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                    </div>
                    <br><br>
                    <div class="aside" >
                        <hr>
                        <a href="{% url 'authusers:user-profile' %}" class="w3-bar-item w3-button">User Profile Password</a><br>
                        <hr>
                        <a href="{% url 'authusers:user_change_pass' %}" class="w3-bar-item w3-button">Change Password</a><br>
                        <hr>
                        <a href="{% url 'authusers:user_orders' %}" class="w3-bar-item w3-button" >Orders</a><br>
                        <hr>
                        <a href="#" class="w3-bar-item w3-button">Address</a>
                        <hr>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
            <div class="row gutters">
                
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                            <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" placeholder="Enter new password"> 
                            <small class="text-danger">{{ form.new_password1.errors|striptags }}</small><br>
                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                            <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" placeholder="Confirm new password"> 
                            <small class="text-danger">{{ form.new_password2.errors|striptags }}</small><br>
                        </div>
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                </div>
                
            </div>
            
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <input type="submit" value="Update Password" class="btn btn-daark" style="background-color: #D10024; color: white;"> <br>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    </div> 
    
{% endblock changepassword %}

    